.btn
  display: inline-block
  padding: 0 30px
  height: 40px
  border: none
  border-radius: 10px
  color: $mine-shaft
  background-color: $cranberry
  background-image: linear-gradient(to bottom, $manhattan 0, $cranberry 100%)
  font(1.125em, 2.22, 700, uppercase)