.features
  overflow: auto
  background-color: $ice-cold

  @media $tablet-desktop
    padding: 20px 0

  &__hgroup
    margin-top: 20px

  &__title
    color: $jacksons-purple
    text-align: center
    font(1.5em, 1.333, 200, uppercase)

  &__image
    margin-top: 10px
    margin-bottom: 20px
    
    @media $tablet
      margin-top: 40px

    img
      display: block
      margin: auto

  &__list
    list-style-type: none
    
    font(1.25em, 1.5)
    
  &__item
    margin-bottom: 20px

    @media $tablet-desktop
      padding-left: 20px

  &__wrapper
    display: flex
    flex-direction: column
    
    @media $tablet-desktop
      margin-top: 20px
      flex-direction: row