.features
  overflow: auto
  background-color: $ice-cold

  &__hgroup
    margin-top: 20px

  &__title
    color: $jacksons-purple
    text-align: center
    font(1.5em, 1.333, 200, uppercase)

  &__image
    margin-top: 20px
    margin-bottom: 20px

    img
      display: block
      margin: auto

  &__list
    list-style-type: none
    
    font(1.25em, 1.5)
    
  &__item
    margin-bottom: 20px