.page-footer
  &__regform
  &__note
  &__timer
    margin-bottom: 20px

  &__note
    text-align: center
    font(1.3125em, 1.333, 500, uppercase)

    &--accent
      color: $amaranth

  &__timer
    padding: 20px 0
    background-color: $picton-blue