.problems
  overflow: auto
  margin-bottom: 20px

  &__title
    margin-top: 20px
    margin-bottom: 20px
    color: $sherwood-green
    text-align: center
    text-decoration: underline
    font(1.3125em, 1.333, 200, uppercase)

  &__image
    margin-bottom: 20px

    img
      display: block
      margin: auto

  &__list
    font(1.125em, 1.333, 200)

  &__item
    margin-bottom: 15px
    padding-left: 32px
    list-style-type: none
    background: url("../img/icon-list-1.png") no-repeat left center
    
    &:last-of-type
      margin-bottom: 0