.problems
  &__list
    font(1.125em, 1.333, 200)

  &__item
    margin-bottom: 15px
    padding-left: 32px
    list-style-type: none
    background: url("../img/icon-list-1.png") no-repeat left center
    
    &:last-of-type
      margin-bottom: 0