.regform
  padding: 20px
  background-color: rgba($white, 50%)
  box-shadow: 0 0 8px 0 rgba($blue-charcoal, 0.2)
  
  &--fixed
    box-sizing: border-box
    margin: auto
    max-width: 335px

  &__title
    margin-bottom: 15px
    text-align: center
    font(1.3125em, 1.333, 500, uppercase)

  &__form
    text-align: center

    &--flat
      @media $tablet-desktop
        display: flex
        flex-direction: row
        padding-top: 20px

        .regform
          &__name
          &__tel
            margin-right: 20px

  &__name
  &__tel
    position: relative
    z-index: 10
    box-sizing: border-box
    margin-bottom: 20px
    padding-right: 8px
    padding-left: 16px
    height: 40px
    outline: none
    border: none
    border-radius: 10px
    font(0.875em, 2.86, 400)

    transition: background-color 0.4s ease-in-out

    &::-webkit-input-placeholder
      color: lighten($black, 40%)
      font-weight: 400

    &:focus
      font-weight: 700
      background-color: lighten($cranberry, 80%)
      
      transition: background-color 0.4s ease-in-out

      &::-webkit-input-placeholder
        font-weight: 700
        
  &__name
  &__tel
    width: 100%
    padding-left: 36px
    background-repeat: no-repeat
    box-shadow: 0 0 8px 0 rgba($blue-charcoal, 0.2)

  &__name
    background-image: url("../img/icon-head.png")
    background-position: left 14px center
    background-size: 15px 15px

    &:focus
      background-image: url("../img/icon-head-dark.png")

  &__tel
    background-image: url("../img/icon-phone.png")
    background-position: left 16px center
    background-size: 11px 11px

    &:focus
      background-image: url("../img/icon-phone-dark.png")

