.reviews
  &__title
    margin-bottom: 20px
    text-align: center
    font(1.3125em, 1.333, 700, uppercase)

  &__list
    list-style-type: none

  &__item
    display: flex
    flex-direction: row-reverse
    margin-bottom: 20px
    padding: 25px
    padding-left: 0
    border-radius: 20px
    box-shadow: 0 0 15px 1px rgba($blue-charcoal, 0.2)

  &__wrapper
    padding: 0 20px

  &__text
    padding: 20px
    border-radius: 20px
    border: 1px solid $silver-chalice
    font(1em, 1.333)

  &__ph
    margin-bottom: 10px

    &:last-of-type
      margin-bottom: 0

  &__image
    text-align: right
    margin-bottom: 5px
    img
      display: inline

  &__name
    width: 110px
    font-weight: 500

  &__name
  &__age
  &__city
    margin-bottom: 5px
    text-align: right
    font(0.75em, 1.333)