$black = #000000
$white = #ffffff

// Верхний градиент в верхнем блоке и в разделе "О методике"
$feta = #ecfae4
$robins-egg-blue = #02c1b5

// Акцент в шапке
$amaranth = #eb2251

// Градиент кнопки
$manhattan = #f7bb97
$cranberry = #dd5e89

// Цвет текста
$mine-shaft = #363636

// Цвет выделения в тексте
$royal-blue = #1e75ea

// Цвет фона в разделе преимущества
$ice-cold = #a6f6e0

// Цвет на флажках до и после
$bunting = #171856

// Градиент в нижнем блоке
$linen = #f9e7df
$vanilla-line = #f5dbd8
