body
  font-family: $font
  font-size: 80%
  font-weight: 200

  @media $tablet
    font-size: 90%

  @media $desktop
    font-size: 100%

h1
h2
h3
  font-weight: 200
  text-transform: uppercase

body
figure
h1
h2
h3
p
ul
  margin: 0

figure
ul
  padding: 0
