@font-face
  font-weight: 200
  font-style: normal
  font-family: "Helvetica Neue"
  src: local("Helvetica Neue Cyr"), url("../fonts/helveticaneuecyr-thin.woff") format("woff"), url("../fonts/helveticaneuecyr-thin.woff2") format("woff2")

@font-face
  font-weight: 500
  font-style: normal
  font-family: "Helvetica Neue"
  src: local("Helvetica Neue Cyr"), url("../fonts/helveticaneuecyr-medium.woff") format("woff"), url("../fonts/helveticaneuecyr-medium.woff2") format("woff2")

@font-face
  font-weight: 700
  font-style: normal
  font-family: "Helvetica Neue"
  src: local("Helvetica Neue Cyr"), url("../fonts/helveticaneuecyr-bold.woff") format("woff"), url("../fonts/helveticaneuecyr-bold.woff2") format("woff2")

$font = "Helvetica Neue", "Helvetica" , "Arial", sans-serif

font($size, $height = normal, $weight = 200, $transform = none)
  font-size: $size

  if $weight != 200
    font-weight: $weight

  if $height != "normal"
    line-height: $height

  if $transform != "none"
    text-transform: $transform
